/* ini file CSS */



.main-header {
 
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logo-icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image: url(p3icon.jpg);
    background-size: cover;
    background-position: left;
}

nav {
    display: flex;
}

.left-rounded {
    border-radius: 5px 0 0 5px;
}

.right-rounded {
    border-radius: 0 5px 5px 0;
}

nav>a {
    border: 1px solid black;
    padding: 8px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    text-decoration: none;

}

h1 {
    font-size: 50px;
    text-align: center;

}

.banner-image {
    height: 450px;
    background-image: url(persona-3wp.jpg);
    background-size: cover;
    background-position: center;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    height: 100%;
    color: white;
    font-size: 25px;

}


.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #000;

  }

  .member {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
     
  }

  .char-name {
    margin-top: 10px;
  }

.content-member {
    height: 350 px;
}

.content {
    height: 500px;
}


form {
    
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    float: left;
    margin-left: 30px;
    justify-content: space-between;
    
  }

  label {
    display: flex;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="date"],
  textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
  }

  input[type="radio"] {
    margin-right: 5px;
  }

  
.result {
    height: 300px;
    width: 300px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    float: right;
    flex-direction: column;
}
footer {
    text-align: center;
}
